@model ShoppingCartModel

<link rel="stylesheet" href="~/css/shopingCart.css" asp-append-version="true" />
<script src="~/js/shoppingCart.js"></script>
@{
    ViewData["ShoppingCartId"] = Model.ShoppingCartId;
}
<div class="container">
    <div class="row">
        <div class="col  offset-md-3">
            <a href="/Shop/Checkout" class="btn btn-success" role="button">Checkout</a>
        </div>
        <div class="col  offset-md-3">
            <p>Total $ <small id="totalPriceSmall"></small>@Model.TotalPrice</p>
        </div>
    </div>
    <div class="container">
        <div class="">

            @foreach (var item in Model.CartItems)
            {
                <div class="">
                    @await Html.PartialAsync("_CartItemPartial", item)
                </div>
            }
        </div>
    </div>
