@model ShoppingCartModel

<link rel="stylesheet" href="~/css/shopingCart.css" asp-append-version="true" />
<script src="~/js/shoppingCart.js"></script>
@{
    ViewData["ShoppingCartId"] = Model.ShoppingCartId;
}
<div class="container">
    <div class="container">
        @foreach (var item in Model.CartItems)
        {
            <div class="cardDiv">
                @await Html.PartialAsync("_CartItemPartial", item)
            </div>
        }
    </div>
    <div class="checkoutDiv">
        <div class="d-flex align-items-center">
            <a asp-controller="Shop" asp-action="Checkout" asp-route-shoppingCartId=@Model.ShoppingCartId role="button" class="btn btn-success">Checkout</a>
        </div>
        <div>
            <span class="fs-1 fw-bold">Total $@Model.TotalPrice</span>
        </div>
    </div>
