@model CatModel

@{
    var productId = Model.ProductId;
}


<div class="card" style="width: 18rem;">
    <img src="~/@Model.ImgUrlPath" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.Race</h5>
        <p class="card-text descriptionElement">@Model.Description</p>
        @{
            if (ViewBag.UserType == "Admin")
            {
                <div class="cardButtonDiv">
                    <a asp-controller="Admin" asp-action="EditShopItem" asp-route-productId=@productId class="btn btn-primary btn-sm">Edit product</a>
                    <a asp-controller="Admin" asp-action="DeleteProduct" asp-route-productId=@productId class="btn btn-danger btn-sm">Delete product</a>
                </div>
            }
            else
            {
                <div class="addToCartDiv">
                <h5 class="">Price $@Model.Price</h5>
                <a href="#" class="btn btn-primary btn-sm addToCartButton" onclick="addToCart(@productId)">Add to cart</a>
                </div>
            }
        }
    </div>
</div>