@model KittyShop.Models.LoginModel

@{
    Layout = "~/Views/Shared/_ToasterLayout.cshtml";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<div class="container wrapper position-absolute top-50 start-50 translate-middle">
    <div class="imgcontainer">
        <img src="~/Images/funny-cat-art-print.jpg" />
    </div>
    <form asp-action="Login" asp-controller="Home">
        <div class="form-group">
            <label asp-for="UserName" class="control-label"></label>
            <input asp-for="UserName" class="form-control" placeholder="Name" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group d-grid">
            <input type="submit" value="Login" class="btn btn-primary mt-2" />
            <span class="mt-2">Dont have account? <a href="/Home/Register">Register here</a></span>
        </div>
    </form>
</div>




