.quantityAndPriceDiv {
    display: flex;
    justify-content: space-between;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

.cardDiv {
    display: flex;
    justify-content: space-around;
}